python-dotenv
langchain
langchain-community
langgraph
# langchain-anthropic
# langchain-openai
# langchain-google-genai
# langchain-ollama
langchain-deepseek

#grandlaf is to draw the graph workflow
grandalf

# LangGraph CheckpointSaver that uses Postgres.
langgraph-checkpoint-postgres

# A modern implementation of a PostgreSQL adapter for Python
# Binary installation and Psycopg connection pools support
psycopg[binary,pool]

mcp
langchain-mcp-adapters