OLLAMA_HOST=http://localhost:11434
OLLAMA_MODEL=gemma4:e4b
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
TELEGRAM_BOT_TOKEN=<TELEGRAM_BOT_TOKEN>
# it's telegram userId (obtained from @userinfobot)
TELEGRAM_CHAT_ID=<TELEGRAM_CHAT_ID>
DAILY_SUMMARY_TIME=21:00


### Security
API_KEY=<API_KEY>
TELEGRAM_WEBHOOK_SECRET=<TELEGRAM_WEBHOOK_SECRET>
PUBSUB_OIDC_AUDIENCE=<PUBSUB_OIDC_AUDIENCE>
PUBSUB_OIDC_SERVICE_ACCOUNT_EMAIL=<PUBSUB_OIDC_SERVICE_ACCOUNT_EMAIL>